<div class="aside">
        <img src="/billeder/<%= randProduct.billede %>" alt="">
        <h3><%= randProduct.titel %></h3>
        <section>
            <div>
                <p>Bolig m2</p>
                <p><%= randProduct.boligstørrelse %></p>
            </div>
        </section>
        <section>
            <div>
                <p>Grund m2</p>
                <p><%= randProduct.grundareal %></p>
            </div>
        </section>
        <section>
            <div>
                <p>Pris DKK</p>
                <p><%= randProduct.pris %></p>
            </div>
        </section>
        <section>
            <div>
                <p>Sagsnummer</p>
                <p><%= randProduct.sagsnummer %></p>
            </div>
        </section>
</div>