<% include partials/head %>
<% include partials/admin-partials %>

<div id="admin-stylebox">
    <h2>Nyheder</h2>
    <span style="color: red"><%= typeof messages !== "undefined" && typeof messages.error !== "undefined" ? messages.error : "" %></span>
    <span style="color: green"><%= typeof messages !== "undefined" && typeof messages.info !== "undefined" ? messages.info : "" %></span>

    <table>
        <thead>
            <tr>
                <th>Handling</th>
                <th>Navn</th>
            </tr>
        </thead>
        <div class="opret-btn">
            <a href="/admin/nyhed/opret">Opret nyhed</a>
        </div>
        <tbody>
            <% results.forEach(result => { %>
                <tr>
                    <td>
                        <a href="/admin/nyhed/slet/<%= result.id %>">Slet</a>
                        <a href="/admin/nyhed/rediger/<%= result.id %>">Rediger</a>
                    </td>
                    <td><%= result.titel %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<% include partials/after-footer %>